<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCYJ5o5ZtNU7ExODEDGDg5Goc2Awt8bdCk</string>
	<key>GCM_SENDER_ID</key>
	<string>518728667927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.nimbus</string>
	<key>PROJECT_ID</key>
	<string>davids-parts-v1-9rstyy</string>
	<key>STORAGE_BUCKET</key>
	<string>davids-parts-v1-9rstyy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518728667927:ios:d5aac37df3caeb47d51d52</string>
</dict>
</plist>